.diabetes-container form label {
  float: left;
}
.BackgroundImage {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}
.patientform{
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.3); 
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px solid #000000;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* width: 40%; */
    padding: 20px;
    text-align: center;
    height: 90vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    border-radius: 1rem;
}

.backbtn {
  position: absolute;
  border: none;
  text-decoration: none;
}


.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}



/*-------------------Kidney disease css---------------------------*/



/*-------------------Heart css---------------------------*/

.heart_bg {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.heartBody {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}
