.serviceBG {
  background-image: url("../Assets/Health.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(5px); */
}

.card {
  display: flex;
  width: 13rem;
  height: 14rem;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 2px rgb(0, 0, 0);
  gap: 22px;
  background-color: transparent;
  text-align: center;
  /* text-decoration: none; */
}

.card-img-top {
  /* border: 2px solid blue; */
  width: 100%;
  height: 14vh;
  padding: 10px;
  border-radius: 20px;
}

.text {
  font-size: 1rem;
  font-weight: bold;
  /* text-decoration: none; */
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.allbtns {
  display: flex;
  justify-content: center;
  position: static;
  /* width: 88%; */
  gap: 66px;
  flex-wrap: wrap;
}

.service {
  padding-top: 12rem;
}

/* CSS of Home.js */

.home-container {
  background-image: url("../Assets/doctor02.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 20px;
  text-align: center;
  display: inline-block;
}

.dashbord {
  display: flex;
  justify-content: space-around;
  width: 50%;
  position: absolute;
  top: 65%;
  margin-left: 25%;
  gap: 2rem;
}

.card {
  height: 11rem;
  gap: 5px;
  justify-content: flex-start;
  align-content: center;
}
.icon {
  border: none;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1.2rem;
  font-size: 2rem;
}

.CountNumbers {
  font-size: 2rem;
  font-weight: bold;
}

/* CSS of Info.js*/

.info-container {
  background-image: url("../Assets/Doctor4.jpg");
  width: 100%;
  height: 150vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: inherit;

}

.bg-text-info {
  font-weight: bold;
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 20px;
  text-align: center;
  display: inline-block;
}

.mainbody{
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.Heading{
  margin: 2rem;
  padding: 3rem;
  text-align: justify;
}