* {
  margin: 0;
  padding: 0;
}
.sidebar-container {
    /* display: block; */
}
.sidebar {
    /* background-color: transparent; */
    float: right;
    height: 100vh;
    width: 15%;
    border: 2px solid red;
}
