* {
  margin: 0;
  padding: 0;
}

.sidebar {
  /* width: 10%; */
  float: right;
  height: 100vh;
  /* border: 1px solid black; */
  /* margin: 1rem; */
  padding: 2rem 2rem;
  text-align: center;
}

.icons {
  border: none;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin-top: 3px;
  text-decoration: none;
  color: black;
}
.lowpart{
  /* background-color: red; */
  display: grid;
  justify-content: center;
  margin-top: 10rem;
}

.tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.icons:hover .tooltiptext {
  visibility: visible;
}