* {
  margin: 0;
  padding: 0;
}

.sidebar {
  float: right;
  height: 100vh;
  padding: 2rem 2rem;
  text-align: center;
}

.icons {
  border: none;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.sidebar :hover{
  /* font-size: 1.5rem; */

  
}
.menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3rem;
  padding: 0.5rem;
  margin-top: 3px;
  text-decoration: none;
  color: black;
}
.lowpart{
  /* background-color: red; */
  display: grid;
  justify-content: center;
  margin-top: 10rem;
}

.Icontext{
  font-size: 0.9rem;
  display: flex;
  align-content: center;
  justify-content: center;
  /* text-decoration:none; */
  /* color: red; */
}
